* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  background-color: #000;
  color: #ffffff;
  width: 120px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.35s ease-in-out;
  cursor: pointer;
}
.btn:disabled, .btn:disabled:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events:none;
  cursor: not-allowed;
}
.btn:hover {
  background-color: rgb(61, 61, 61);
}
.crypto-item {
  display: flex;
  align-items: center;
  margin: 12px 0;
  transition: 2s linear;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
}
span {
  font-weight: 700;


}
.crypto-item span {
    font-size: 30px;
  margin-left: 20px;

}
img {
  width: 100%;
  height: 100%;
}

.crypto-item.entering {
  animation: crypto 1s forwards linear;
}
.crypto-item.entered {
  animation: crypto 1s forwards linear;
}
.crypto-item.exiting {
  animation: exitedcrypto 0.25s forwards linear;
}

.winings-list {
  width: 240px;
  max-height: 500px;
  height: 100%;
  padding: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
  margin-top: 60px;
}
.wining-item {
  width: 100%;
  display: flex;
  align-items: center;
}
.wining-item + .wining-item {
  margin-top: 16px;
}

.img-wrapper {
  width: 40px;
  height: 40px;
}

.wining-item span {
  margin-left: auto;
  font-size: 26px;
  transition: 0.35s linear;
  color: #000000;
}

.button-crypto-item-wrapper {
  position: relative;
}

span.scale {
  transform: scale(1.3);
  color: #44a144;
}

.wining-item-exit-active {
  animation: fade-out 1500ms forwards;
}

.convert {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

@keyframes crypto {
  0% {
    transform: translate(0, 0) scale(0.75);
  }
  25% {
    transform: translate(150px, 0) scale(1);
  }
  50% {
    transform: translate(200px, 0) scale(1.25);
  }
  75% {
    transform: translate(250px, 0) scale(1.5);
  }
  100% {
    transform: translate(300px, 0) scale(1.75);
  }
}
@keyframes exitedcrypto {
  0% {
    opacity: 0.5;
    transform: translate(300px, 0);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translate(300px, 0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(72.5vw) rotate(-65deg);
  }
}